/* Main color(s) */
 $brand-primary: #009900;
//$brand-primary: #086CC8;

/* Shades */
$main-color-essence: fade-out($brand-primary, 0.8);
$main-color-dark:$brand-primary;

/* Bootstrap Variables */
$btn-primary-bg: $brand-primary;
$link-color: $brand-primary;
$navbar-inverse-bg: $main-color-dark;

@import 'color_themes/color_theme_override';
